@font-face {
    font-family: mainFont;
    src: url(VCR_OSD_MONO.ttf);
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border: 7px solid rgb(66, 33, 33);
}

.center {
    margin-top: 5%;
    text-align: center;
}

.left {
    margin-left: 5%;
    text-align: left;
}

.text {
    color: white;
    font-family: mainFont;
    font-weight: 500;
    font-style: normal;
    /* font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal; */
}

.title {
    font-size: 60px;
}

.clock {
    font-size: 40px;
}

a:link {
    color: rgb(49, 145, 230);
}

a:visited {
    color: rgb(145, 204, 255);
}

img {
    border-radius: 50%;
    margin-bottom: -7px;
    border: 3px solid rgb(38, 55, 77);
}

div {
    font-size: 25px;
}

p {
    margin-bottom: -20px;
}

.discord-button {
    display: inline-block;
    font-size: large;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;

    transform: scale(1);
    transition-duration: 0.5s;

    text-align: center;
    text-indent: 15%;

    font-weight: 1000;
}

.youtube-button {
    display: inline-block;
    font-size: large;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ff2020;
    border: 2px solid #941313;
    color: #fff;

    transform: scale(1);
    transition-duration: 0.5s;

    text-align: center;
    text-indent: 15%;

    font-weight: 1000;
}

.button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.btnimg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}